# folders for build, install and sources
buildNative/
buildWin32/
buildWin64/
buildPi/
installNative/
installWin32/
installWin64/
installPi/
sources/

# generated toolchain during packaging
arm-none-eabi-gcc-*-*

# generated packages
arm-none-eabi-gcc-*-*.tar.xz
arm-none-eabi-gcc-*-*-win32.7z
arm-none-eabi-gcc-*-*-win64.7z
arm-none-eabi-gcc-*-*-pi.tar.xz
